@font-face{
  font-family: 'Netflix Sans';
  src: url(./fonts/NetflixSans_W_Lt.woff2);
  font-weight: 300;
}
@font-face{
  font-family: 'Netflix Sans';
  src: url(./fonts/NetflixSans_W_Md.woff2);
  font-weight: 400;
}
@font-face{
  font-family: 'Netflix Sans';
  src: url(./fonts/NetflixSans_W_Bd.woff2);
  font-weight: 600;
}

:root{
  --color-black: #000;
  --color-white: #fff;
  --color-red:#e50914;
  --color-red-dark:#831010;
  --color-gray:#8c8c8c;
  --color-gray-dark: #333;

  --font: 'Netflix Sans';

  --z-index-menu: 1000;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Netflix Sans';
  background-color: rgb(255,255,254);
}

.center{
  max-width: 1180px;
  margin: 0 auto;
  width: 94%;
}